*{
    padding: 0;
    margin: 0;
}
.wrapper{
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    gap: 50px;
}
button{
    width: 200px;
    height: 100px;
    background-color: black;
    color: white;
    border-radius: 20px;
    border-color: white;
}
button:hover{
    background-color: white;
    color: black;
    transition: 0.3s;
    cursor: pointer;
    border-color: black;
}
button:active{
    background-color: #ffffffe8;
}
.number{
    font-size: 30px;
    font-weight: 900;
}